<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <!-- Kullanıcı Paneli -->
        <div class="user-panel black-bg text-center py-4">
            <div class="image mb-2">
                <img src="~/MainDownload-OvioAdmin-html5-template/html/Logo.png " class="img-circle"
                     alt="Logo"
                     style="width: 125px; height:160 ; object-fit: cover; solid #fff;">
            </div>
            <div class="info">
                <p style="margin: 5px 0 3px; font-size: 16px; font-weight: 600; color: #ffffff;">Admin Panel</p>
                <a href="#" style="color: #90ee90; font-size: 13px;">
                    <i class="fa fa-circle text-success"></i> Çevrimiçi
                </a>
            </div>
        </div>

        <!-- Sidebar Menü -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li> <a href="https://fontawesome.com/v4/icons/"><i class="fa fa-clock-o"></i> <span>Font-Awesome</span></a> </li>
            <li> <a href="/Admin/Category/Index/"><i class="fa fa-th"></i> <span>Kategori</span></a> </li>
            <li> <a href="/Admin/Product/ProductListWithCategory/"><i class="fa fa-leaf"></i> <span>Urunler</span></a> </li>
            <li> <a href="/Default/Index/"><i class="fa fa-shopping-bag"></i> <span>Siteye Git</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index/"><i class="fa fa-map-pin"></i> <span>Ozel Teklif</span></a> </li>
            <li> <a href="/Admin/FSlider/Index/"><i class="fa fa-paint-brush"></i> <span>Slider Paneli</span></a> </li>
            <li> <a href="/Admin/Feature/Index/"><i class="fa fa-star"></i> <span>One Cikan Alan</span></a> </li>
            <li> <a href="/Admin/OfferDiscount/Index/"><i class="fa fa-check-circle"></i> <span>Indirim Teklifleri</span></a> </li>
            <li> <a href="/Admin/Brand/Index/"><i class="fa fa-caret-square-o-down"></i> <span>Marka Alanai</span></a> </li>
            <li> <a href="/Admin/About/Index/"><i class="fa fa-bookmark"></i> <span>Hakkimizda Alanai</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-asterisk"></i> <span>Yorumlar</span></a> </li>
            <li> <a href="/Admin/Users/AllUserList/"><i class="fa fa-users"></i> <span>Kullanici Listesi</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-tablet"></i> <span>Sparis Listesi</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-try"></i> <span>Kasa Bilgileri</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-line-chart"></i> <span>Istatistik</span></a> </li>
            <li> <a href="/Admin/Cargo/CargoCompanyList/"><i class="fa fa-truck"></i> <span>Kargo</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-sort-amount-desc"></i> <span>Indirimler</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-picture-o"></i> <span>Gorseller</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-envelope-open"></i> <span>Mesajlar</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-cogs"></i> <span>Ayarlar</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"><i class="fa fa-wrench"></i> <span>Cikis</span></a> </li>
        </ul>
    </section>
</aside>
