<header class="main-header dark-bg">

    <!-- Logo -->
    <a href="/Home/Index" class="logo dark-bg">
        <span class="logo-mini">
            <img src="~/images/logos/mulhtishop1.jpg" alt="Logo" style="width:50px; height:50px;">
        </span>
        <span class="logo-lg">
            <img src="~/images/logos/mulhtishop1.jpg" alt="Logo" style="width:200px; height:50px;">
        </span>
    </a>

    <!-- Navbar -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar Toggle -->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!-- Search Box -->
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ara...">
            </div>
        </form>

        <!-- Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Mesajlar -->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">4 yeni mesajınız var</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/MainDownload-OvioAdmin-html5-template/dist/img/img1.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>Florence Douglas <small><i class="fa fa-clock-o"></i> 2 dk</small></h4>
                                        <p>Merhaba, nasılsınız?</p>
                                    </a>
                                </li>
                                <!-- diğer mesajlar... -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tüm mesajları oku</a></li>
                    </ul>
                </li>

                <!-- Bildirimler -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-megaphone"></i>
                        <span class="label label-warning">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">4 bildirim</li>
                        <li>
                            <ul class="menu">
                                <li><a href="#"><i class="icon-lightbulb"></i> Yeni özellik eklendi</a></li>
                                <!-- diğer bildirimler -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Tüm bildirimleri gör</a></li>
                    </ul>
                </li>

                <!-- Kullanıcı -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Florence Douglas</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header text-center">
                            <img src="~/MainDownload-OvioAdmin-html5-template/dist/img/img1.jpg" class="img-circle" alt="User Image">
                            <p>Florence Douglas <small>Yönetici</small></p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Çıkış</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
