@model UserDetailViewModel
@{
    Layout = null;
}

<div class="container" >
    <br /> <br />
    <h3> Kullanici Profil Bilgisi</h3>

    <div class="alert alert-info">Kullanici Id :@Model.Id</div>
    <div class="alert alert-warning">Kullanici Adi :@Model.UserName</div>
    <div class="alert alert-info">Kullanici Ad Soyad :@Model.Name @Model.Surname</div>
    <div class="alert alert-info">Email Adresi :@Model.Email</div>
</div>

<a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.css.map</a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />