
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kullanıcı Panelı</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/spica-1.0.0/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/spica-1.0.0/spica-1.0.0/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/spica-1.0.0/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/spica-1.0.0/spica-1.0.0/images/favicon.png" />
</head>