@model List<Ecommerce.DtoLayer.CatalogDtos.OfferDiscountDtos.ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
 
}

<h1>Index</h1>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Basic Tables</h4>
                <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">
                        <caption>
                            Optional table caption.
                        </caption>
                        <thead>

                            <tr>
                                <th>#</th>
                                <th>Indirim Teklif Basligi</th>
                                <th>Indirim Teklif Alt Basligi</th>

                                <th>Sil</th>
                                <th>Guncelle</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                     
                                <tr>              
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td><a href="#" class="btn btn-warning">Kategoriye Ait Urunler</a></td>
                                    <td><button onclick="deleteOffer('@item.OfferDiscountId')" class="btn btn-danger">Sil</button></td>
                                    <td><a href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-success">Guncelle</a></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <a href="/Admin/OfferDiscount/CreateOfferDiscount" class="btn btn-primary"> Yeni Indirim Teklifi Girisi Girisi </a>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    function deleteOffer(id) {
        fetch(`/Admin/OfferDiscount/DeleteOfferDiscount/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/Admin/OfferDiscount/Index'; // Başarılıysa yönlendir
                } else {
                    alert('Silme işlemi başarısız!');
                }
            });

    }
</script>

